<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.myshopmate.store">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <application
        android:name="com.myshopmate.store.AppController"
        android:allowBackup="true"
        android:icon="@drawable/icons"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icons"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <activity android:name="com.myshopmate.store.Dashboard.StockShow" />
        <activity android:name="com.myshopmate.store.Dashboard.Select_Products" />
        <activity android:name="com.myshopmate.store.Dashboard.OrderDetails_today" />
        <activity
            android:name="com.myshopmate.store.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.myshopmate.store.Dashboard.AllProducts">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity android:name="com.myshopmate.store.Dashboard.AppUserActivity">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.myshopmate.store.Dashboard.ForgotActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.myshopmate.store.Dashboard.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.myshopmate.store.MainActivity" />
        <activity android:name="com.myshopmate.store.Dashboard.StockList" />
        <activity
            android:name="com.myshopmate.store.Dashboard.EditProfile"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.myshopmate.store.Dashboard.StockUpdate"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity android:name="com.myshopmate.store.Dashboard.MyOrderDeatil" />
        <activity android:name="com.myshopmate.store.Dashboard.OrdersActivity">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity android:name="com.myshopmate.store.Dashboard.AssignSuccess" />

        <service android:name="com.myshopmate.store.Dashboard.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
<!--        <service android:name=".Dashboard.MyFirebaseInstanceIDService">-->
<!--            <intent-filter>-->
<!--                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />-->
<!--            </intent-filter>-->
<!--        </service>-->
    </application>

</manifest>